USE [Datascience]
GO
/****** Object:  StoredProcedure [dbo].[BLD_WRK_FakeNameCanada20200316]    Script Date: 3/16/2020 10:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BLD_WRK_FakeNameCanada20200316]
-- =============================================
-- Author:		Gaurav Kumar
-- Create date: 20200316
-- Description:	RAW -> WRL
--MOD Date
-- =============================================
	
AS
BEGIN
-- =============================================
-- drop the table
-- =============================================
if object_id('WRK_FakeNameCanada20200316') is not null
drop table WRK_FakeNameCanada20200316
-- =============================================
-- We have create a Table
-- =============================================

create table [WRK_FakeNameCanada20200316]
(
	[RowNumber] int identity (1,1)
	  ,[Number] varchar(100)
      ,[Gender] varchar(10)
      ,[GivenName] varchar(1000)
      ,[Surname] varchar(1000)
      ,[StreetAddress] varchar(1000)
      ,[City] varchar(1000)
      ,[ZipCode] varchar(10)
      ,[CountryFull] varchar(100)
      ,[Birthday] date
      ,[Balance] float
	  ,[InterestRate] float
)
-- =============================================
-- Truncate Table
-- =============================================
truncate table [WRK_FakeNameCanada20200316]

-- =============================================
-- We have to insert into table
-- =============================================


insert into [WRK_FakeNameCanada20200316]
(     
       [Number] 
      ,[Gender] 
      ,[GivenName] 
      ,[Surname] 
      ,[StreetAddress]
      ,[City] 
      ,[ZipCode] 
      ,[CountryFull] 
      ,[Birthday] 
      ,[Balance] 
	  ,[InterestRate] 
)
select
       [Number]
      ,[Gender]
      ,[GivenName]
      ,[Surname]
      ,[StreetAddress]
      ,[City]
      ,[ZipCode]
      ,[CountryFull]
      ,[Birthday]
      ,[Balance]
      ,[InterestRate]

from [Raw_FakeNameCanada20200316]


where ISNUMERIC([Balance]) =1        -- 10 rows
AND len([ZipCode]) <= 7              -- 2 rows 
AND ISDATE([Birthday]) = 1           -- 1 rows


--==============================================
--ExclusionTable
--===========================================

/*
select * 
from [WRK_FakeNameCanada20200316]
*/


select * 
from [WRK_FakeNameCanada20200316]
where [Balance] < 0


select *
from [WRK_FakeNameCanada20200316]
where [ZipCode] not like '__ __'

select * from [WRK_FakeNameCanada20200316]
where Birthday < '1915-08-13'

--((199987  row(s) affected)


END